<!doctype html>
<html lang="en">
    <head>
        <title>AdvancedSpotifyDataAnalyzer</title>
        <meta charset="utf-8">
        <meta author="Rožle Lipej">
        <meta name="description" content="Spotify data analysis">
        <meta name="keywords" content="Spotify, data, analysis">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    </head>

    <body>
        <!-- Header -->
        <header>
            <nav class="navbar navbar-expand-lg bg-light py-0">
                <div id="skam" class="container-fluid d-flex justify-content-between align-items-center">
                    <h2><a href="/SpotifyAnalyzer/static" style="text-decoration:none;color:green">Spotify Analyzer</a></h2>

                    <h1 class="mx-auto">Main Page</h1>

                    <div class="d-flex align-items-center">

                        <a href="settings" class="btn btn-outline-primary me-2" type="button">Settings</a>
                        <button id="but" class="btn btn-outline-success" type="button">Logout</button>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Dashboard Layout -->
        <main class="container-fluid mt-4">

            <!-- Static Info -->
            <div id="skam" class="container-fluid d-flex align-items-center">
                <label for="date-range" class="me-2">Select a Date Range:</label>
                <select id="date-range" name="date-range" class="fade-in form-select w-auto" aria-label="Date Range">
                    <option value="all-time">All Time</option>
                    <option value="last-year">Last Year</option>
                    <option value="last-month">Last Month</option>
                </select>
            </div>

            <!-- Main Grid -->
            <div class="row mt-4">
                <!-- Left Column -->
                <div class="col-md-2 d-flex flex-column gap-3">
                    <div id="topUsers" class="section-box">
                        <p>Top Users</p>
                        <div class="list-container">
                            <ul id="usersList" class="list-group fade-in">
                            </ul>
                        </div>
                    </div>
                    <div id="topGenres" class="section-box mt">
                        <p>Top Genre</p>
                        <div class="list-container">
                            <ul id="genresList" class="list-group fade-in">
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Center Column -->
                <div class="col-md-8">
                    <div class="section-box h-100">
                        <h4>Top Tracks</h4>
                        <div class="list-container">
                            <ul id="trackList" class="list-group fade-in">
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-md-2 d-flex flex-column gap-3">
                    <div id="topCreators" class="section-box">
                        <p>Top Creators</p>
                        <div class="list-container">
                            <ul id="creatorsList" class="list-group fade-in">
                            </ul>
                        </div>
                    </div>
                    <div id="topAlbums" class="section-box">
                        <p>Top Albums</p>
                        <div class="list-container">
                            <ul id="albumsList" class="list-group fade-in">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script>
            // URL constants
            const baseUrl = "{{ url_for('index') }}".slice(0, -6)
            const logoutUrl = "{{ url_for('logout') }}";
            const loginUrl = "{{ url_for('login') }}";
            const dataUrl = "{{ url_for('get_main_page_data')}}"
        </script>
        <!-- Bootstrap Script -->
        <script src="../static/js/util.js"></script>
        <script src="../static/js/logout.js"></script>
        <script src="../static/js/main_page.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
